@use 'reset.scss';

@font-face {
  font-family: 'Titillium';
  src: url('../fonts/TitilliumWeb-SemiBold.ttf');
}

@font-face {
  font-family: 'TitilliumBold';
  src: url('../fonts/TitilliumWeb-Bold.ttf');
}

$app-background-color: white;
$dark-grey: #4848486b;
$text-color: #666666;
$highlight-color: #dc004b;
$button-color: rgb(239, 239, 239);
$button-border-color: #DDDDDD;
$button-active-color: white;
$input-border-color: #DDDDDD;
$form-background-color: rgb(252, 252, 252);
$form-border-color: rgb(238, 238, 238);

html {
  min-height: 100vh;
  font-family: 'Titillium', sans-serif;

  strong {
    font-family: 'TitilliumBold', sans-serif;
  }
}

body {
  min-height: 100vh;
  background-color: $app-background-color;
}

body,
input,
select,
button,
textarea {
  color: $text-color;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.subcontainer {
  min-width: 400px;
  max-width: 650px;
  padding-left: 1rem;
  padding-right: 1rem;

  @media screen and (max-width: 651px) {
    font-size: 1.1em;
    width: 100%;
    min-width: initial;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }
}

pre,
code {
  word-break: break-all;
  line-break: anywhere;
  overflow-wrap: break-word;
  white-space: pre-wrap;
}

nav {
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
  margin-top: 1rem;
}

a {
  text-decoration: underline;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  color: $text-color;

  &:active,
  &.active {
    color: $highlight-color;
    text-decoration: none;
  }
}

h1 {
  font-size: 2.5rem;
  line-height: 4rem;
}

h2 {
  width: 100%;
  font-size: 1.3rem;
  margin-bottom: 0.5rem;
}

#message {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 3rem;
  width: 100vw;
  color: white;
  text-shadow: 2px 2px 18px white;

  h1 {
    font-size: 60px;
    display: inline;
    position: absolute;
    top: -11px;
    left: 0;
  }
}

#stats {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

form#authForm,
form#quizForm {
  width: 100%;
  padding: 0.5rem;
  background-color: $form-background-color;
  border: 1px solid $form-border-color;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  a {
    margin-top: 1.5rem;
    text-decoration: underline;
    display: block;

    &:hover {
      cursor: pointer;
    }
  }
}

form#searchForm {
  display: flex;
  flex-direction: row;
  width: 100%;
}

button {
  border: 1px solid $button-border-color;
  border-radius: 0;
  min-height: 2rem;
  background-color: $button-color;
}

button:active {
  box-shadow: 0 0 5px $highlight-color;
  border: 1px solid $highlight-color;
  background-color: $button-active-color;
}

button:disabled {
  color: $dark-grey;
  cursor: not-allowed;
}

button.option-operation {
  width: 34px;
  padding-top: 2px;
  margin-left: 0.5rem;
}

button.jumbo-button {
  border-color: $highlight-color;
  background-color: $highlight-color;
  color: $app-background-color;
  width: 100%;
  height: 6rem;
  transition: all 0.1s ease-in-out;

  &:disabled {
    cursor: not-allowed;
    color: $dark-grey;
    background-color: $app-background-color;
    border-color: $button-border-color;
  }
}

.button-group {
  display: flex;
  width: 100%;

  button:nth-of-type(1) {
    flex: 3;
    margin-right: -1px;
  }

  button:nth-of-type(2) {
    flex: 1;
  }
}

.mini-group {
  opacity: 0.8;
  margin: 0 0 0 0.5rem;
  display: flex;

  button:nth-of-type(1) {
    margin-right: -1px;
  }
}

.search-bar {
  display: flex;
  height: 2.4rem;

  input {
    border-radius: 0;
  }

  button:nth-of-type(1) {
    margin-right: -1px;
    margin-left: -1px;
  }
}

input,
select,
textarea {
  display: block;
  margin-bottom: 1rem;
  padding-left: 0.5rem;
  border-radius: 4px;
  border: 1px solid $input-border-color;
  background-color: $app-background-color;
  outline: none;
  width: 100%;

  &::placeholder {
    font-size: 0.9rem;
  }
}

label {
  display: flex;
  align-items: center;
}

input {
  height: 2.4rem;
}

textarea {
  padding-top: 8px;
}

input:active,
input:focus,
textarea:active,
textarea:focus,
select:focus {
  box-shadow: 0 0 5px $highlight-color;
  border: 1px solid $highlight-color;
}

input[type=radio]:active,
input[type=radio]:focus,
select:focus {
  box-shadow: initial;
  border: initial;
}

input[type=radio] {
  display: inline;
  text-decoration: none;
  width: initial;
  height: initial;
  margin-bottom: 0;
  margin-top: 2px;
}

#logout {
  position: absolute;
  top: 8px;
  right: 8px;
}

#spinner {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: center;
  color: $highlight-color;
  font-size: 1.4em;
}

footer {
  margin-top: 2rem;
  line-height: 2rem;
  text-align: center;
  color: #adadad;
}

.question {
  padding: 0.5rem;
  background-color: $form-background-color;
  border: 1px solid $form-border-color;
  margin-bottom: 0.9rem;
  transition: all 0.1s ease-in-out;

  &.text {
    background-color: $app-background-color;
    min-height: 6rem;
  }

  &.answer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;

    &.selected {
      background-color: $app-background-color;
      border: 2px dashed $text-color;
    }

    .edit {
      margin-left: 0.5rem;
      width: 2rem;

      button {
        width: 100%;
      }
    }
  }
}

#quizContainer {
  width: 100%;

  .quiz {
    position: relative;

    .edit {
      width: 2rem;
      display: flex;
      flex-direction: column;
      opacity: 0.7;
      position: absolute;
      top: 0;
      right: 0;
    }
  }
}

.options-heading {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.option {
  border: 1px solid $input-border-color;
  transition: all 0.15s ease-in-out;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  width: 100%;

  .option-bar {
    padding: 0.65rem;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    cursor: pointer;
  }

  .option-inputs {
    padding: 0.65rem;
  }
}

.option.truthy {
  background-color: $app-background-color;
  border: 2px dashed $text-color;
}

code.language-js {
  display: block;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

